@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'dark';
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-primary: oklch(64.6% 0.222 41.116);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(90% 0.222 41.116);
}

html {
  scroll-behavior: smooth;
}

.container {
  @apply w-full md:max-w-4xl mx-auto;
}

.overlay-pane {
  @apply bg-transparent border-none shadow-none;
}

.text-large {
  @apply font-bold text-4xl md:text-6xl;
}

.text-medium {
  @apply font-semibold text-3xl md:text-5xl;
}

.text-body {
  @apply font-normal text-base;
}
